<% # Olivier Lafleur 5 novembre 2021 %>
<h1>Recettes des usagers</h1>
  <% @users.each do |user|%>
    <% if user.recettes != []%>
      <ul>
        <li>
          <h3><%= user.nom %> <%= user.prenom%></h3>
          <ol>
            <% user.recettes.each do |rec|%>
              <li>
                <%=link_to rec.titre, "/admin/recettes/#{rec.id}"%>
            <%end%>
          </ol>
      </ul>
    <%end%>
  <%end%>
 