<% #Olivier Lafleur 10 novembre %>
<h1>Liste des recettes : </h1>
<% @recettes.each do |p| %>
  <p>
      <a href='/recettes/<%= p.id %>'>
          <%= p.titre %>
      </a>
  <p>
<% end %>         
